//
   Created by Phil on 2014-11-23.

extends layout
block content
   script(src="//code.jquery.com/jquery-1.11.1.min.js")
   script(src="javascripts/ajaxSaveRetour.js")
   script(src="javascripts/bandesGouttesAjustement.js")
   div#divGouttesG
   div#divGouttesD
   form#formInfo(action='/revision', method='post')
      input(type='hidden', name='index', value=valeurIndex)
      input(type='hidden', name='modifie', value='non')
      div#divNav
         a#labelAide(title='Aide',href="aide/procedes.pdf", target="_blank") ?
         img#iLogo(src='images/LOGO_FB_CIEAU_CMJN.png',alt="Logo C.I.EAU",style="width:82px;height:50px")
         button#button(type='button', class="bPrecedentProcedes") Précédent
         input#button(type='submit', value='Suivant')
      div#divAlim
         h1 Sélection des procédés de production d'eau potable
         //div#divProc(class="scrollBarCIEAU")
         table(align="center")
            tr
               td#title  Alimentation en eau :
               td!=typeAlimentation
            tr
               td(colspan='2')
                  br
            tr
               td(colspan='2')
                  br
            tr
               td#title(style="padding-top: 14px;") Microtamisage et/ou dégrillage :
               td
                  table#tCarEau3!=tableDegrillage
            tr
               td(colspan='2')
                  br
            tr
               td(colspan='2')
                  br
            tr
               td#title(style="padding-top: 14px;") Alimentation ou pompage :
               td
                  table#tCarEau3!=tablePompage
            tr
               td(colspan='2')
                  br
            tr
               td(colspan='2')
                  br
            tr
               td#title(style="padding-top: 14px;") Traitements chimiques ou physico-chimiques :
               td
                  table#tCarEau3!=tableTraitements
            tr
               td(colspan='2')
                  br
            tr
               td(colspan='2')
                  br
            tr
               td#title(style="padding-top: 14px;") Échanges d'ions :
               td
                  table#tCarEau3!=tableIons
            tr
               td(colspan='2')
                  br
            tr
               td(colspan='2')
                  br
            tr
               td#title(style="padding-top: 14px;") Clarification :
               td
                  table#tCarEau3!=tableClarification
            tr
               td(colspan='2')
                  br
            tr
               td(colspan='2')
                  br
            tr
               td#title(style="padding-top: 14px;") Filtration :
               td
                  table#tCarEau3!=tableFiltration

            tr
               td(colspan='2')
                  br
            tr
               td(colspan='2')
                  br
            tr
               td#title(style="padding-top: 14px;") Désinfection à l'ozone :
               td
                  table#tCarEau3!=tableOzonation
            tr
               td(colspan='2')
                  br
            tr
               td(colspan='2')
                  br
            tr
               td#title(style="padding-top: 14px;") Désinfection UV :
               td
                  table#tCarEau3!=tableUV
            tr
               td(colspan='2')
                  br
            tr
               td(colspan='2')
                  br
            tr
               td#title(style="padding-top: 14px;") Emmagasinement :
               td
                  table#tCarEau3!=tableEmmagasinement